* {
    padding: 0;
    margin: 0;
    overflow: hidden;
}

#app {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
}